/*--------------------------------------Обнуление-----------------------------------*/
*{
    padding: 0;
    margin: 0;
    border: 0;
}
*,*:before,*:after{
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}

nav,footer,header,aside{display: block;}

html,body{
    height: 100%;
    width: 100%;
    font-size: 100%;
    line-height: 1;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}
input,button,textarea{font-family:inherit;}

input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{
    vertical-align: top;
    width: 100%;
}

h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: 400;}

html,
body {
    height: 100%;
    line-height: 1;
    font-size: 20px;
    color: #000000;
    font-weight: 400;
    font-family: 'Red Hat Display', sans-serif;
    background: #fff;
}
.wrapper {
    min-height: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}
._ibg img {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    object-fit: cover;
}
/*------------------------------------Технические----------------------*/
._container {
    max-width: 1240px;
    margin: 0 auto;
    padding: 0 15px;
    box-sizing: content-box;
}
._ibg {
    position: relative;
}
/*------------------------------------Общие----------------------------*/
.title {
    font-weight: 500;
    font-size: 56px;
    line-height: 125%;
    margin: 0 0 20px 0;
}
.sub-title {
    font-weight: normal;
    font-size: 20px;
    line-height: 160%;
    color: #555555;
}
.button-main {

    justify-content: center;
    align-items: center;
    padding: 16px 32px;
    font-weight: 500;
    font-size: 18px;
    line-height: 133%;
    color: #FFFFFF;
    background: #402F2C;
    max-width: 148px;
    transition: all 0.3s ease 0s;
}
.button-main:hover {
    background: #ea9b81;
}
.button-transparent {

    justify-content: center;
    align-items: center;
    color: #402F2C;
    padding: 16px 32px;
    font-weight: 500;
    font-size: 18px;
    line-height: 133%;
    max-width: 148px;
    transition: all 0.3s ease 0s;
    border: 1px solid rgba(104, 90, 82, 0.46);
}
.button-transparent:hover {
    background: #daffeb;
    color: #999999;
}


/*------------------------------------Header----------------------------*/
.header {
    background: #F9F6F5;
}
.container {
    display: flex;
    justify-content: space-between;
    min-height: 138px;
}
#check-menu {
    display: none;
}
@media (max-width: 768px) {
    .burger {
        min-height: 138px;
        background-color: #F9F6F5;
        position: relative;
        color: #222222;
        text-align: center;
        z-index: 3;
    }
    .burger__logo {
        font-style: italic;
        font-weight: bold;
        font-size: 24px;
        line-height: 125%;
        text-decoration-line: underline;
        margin: 0 auto;
        padding: 40px 0 0 0;
    }
    .burger__logo__link {
        text-decoration: inherit;
        color: #222222;
    }
    .burger__container {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    cursor: pointer;
    z-index: 2;
    line-height: 1380px;
    }
    .burger__line {
    position: absolute;
    top: 47px;
    right: 20px;
    width: 35px;
    height: 3px;
    background-color:#222222;
    transition: 0.5s all;
    }
    .second, .third {
        top: 55px;
    }
    .fourth {
        top: 63px;
    }
    .burger__menu {
        display: block;
        position: absolute;
        width: 100%;
        bottom: 0;
        left: 0;
        transform: translateY(100%);
        max-height: 0;
        font-size: 0;
        overflow: hidden;
        transition: 0.5s all;
    }
    .burger__menu__item {
        display: block;
        width: 100%;
        padding: 10px;
        color: #222222;
        border-top: 2px solid rgba(255, 255, 255, 0.3);
        background-color: #F9F6F5;
    }
    .burger__menu__link {
        text-decoration: inherit;
        color: #222222;
    }
    .burger__menu__user {
        display: flex;
        justify-content: center;
        border-top: 1px solid rgba(255, 255, 255, 0.3);
        background-color: #F9F6F5;
    }
    .user__item {
        padding: 10px 0;
    }
    .user__item:not(:last-child) {
        margin: 0 24px 0 0;
        padding: 10px 0;
    }
    #check-menu:checked ~ .burger__menu {
        max-height: 500px;
        font-size: 16px;
    }
    #check-menu:checked ~ .first {
        display: none;
    }
    #check-menu:checked ~ .second {
        transform: rotate(45deg);
    }
    #check-menu:checked ~ .third {
        transform: rotate(-45deg);
    }
    #check-menu:checked ~ .fourth {
        display: none;
    }
}
@media (min-width: 769px) {
    .container__logo {
        font-style: italic;
        font-weight: bold;
        font-size: 24px;
        line-height: 125%;
        text-decoration-line: underline;
        padding: 40px 0 0 0;
    }
    .container__logo__link {
        text-decoration: inherit;
        color: #222222;
    }
    .menu {
        padding: 45px 0 0 0;
    }
    .menu__list {
        display: flex;
    }
    .menu__item {
        font-size: 16px;
        line-height: 125%;
        color: #222222;
    }
    .menu__item:not(:last-child) {
        margin: 0 40px 0 0;
    }
    .menu__link {
        text-decoration: inherit;
        color: #222222;
    }
    .menu__link:hover {
        text-decoration: underline;
    }
    .user-menu__list {
        display: flex;
        padding: 45px 0 0 0 ;
    }
    .user-menu__item:not(:last-child) {
        margin: 0 24px 0 0;
    }
    .user-menu__link {
    }
}
@media (max-width: 768px) {
    .container__logo {
        display: none;
    }
    .container__logo__link {
        display: none;
    }
    .menu {
        display: none;
    }
    .menu__list {
        display: none;
    }
    .menu__item {
        display: none;
    }
    .menu__item:not(:last-child) {
        display: none;
    }
    .menu__link {
        display: none;
    }
    .user-menu__list {
        display: none;
    }
    .user-menu__item:not(:last-child) {
        display: none;
    }
    .user-menu__link {
    }
}
@media (min-width: 769px) {
    .burger__container {
        display: none;
    }
    .burger__logo {
        display: none;
    }
    .burger__logo__link {
        display: none;
    }
    .burger__line {
        display: none;
    }
    .first {
        display: none;
    }
    .second {
        display: none;
    }
    .third {
        display: none;
    }
    .fourth {
        display: none;
    }
    .burger__menu {
        display: none;
    }
    .burger__menu__item {
        display: none;
    }
    .burger__menu__link {
        display: none;
    }
    .burger__menu__user {
        display: none;
    }
    .user {
        display: none;
    }
    .user__item {
        display: none;
    }
    .user__link {
        display: none;
    }
}
/*------------------------------------Main----------------------------*/
.main {
    background: #F9F6F5;
}
.main__container {
    display: grid;
    grid-template-columns: 3fr 4fr;
}
@media (max-width: 1200px) {
    .main__container {
        grid-template-columns: 1fr 3fr;
    }
}
@media (max-width: 992px) {
    .main__container {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
    }
}

.main-body {
    display: flex;
    flex-direction: column;
}
@media (max-width: 992px) {
    .main-body {
        grid-area: 2 / 1 / 3 / 2;
        margin: 0 auto;
    }
}
.main-body__title {
    margin: 0 0 30px 0;
}
@media (max-width: 992px) {
    .main-body__title {
        font-size: 40px;
        text-align: center;
    }
}
@media (max-width: 550px) {
    .main-body__title {
        font-size: 40px;

    }
}
.main-body__text{
    margin: 0 0 30px 0;
}
@media (max-width: 992px) {
    .main-body__text {
        text-align: center;
        padding: 0 20px 0 5px;
    }
}
.search{
    width: 326px;
    height: 48px;
    position: relative;
    margin: 0 0 60px 0;
}
@media (max-width: 400px) {
    .search {
        width: 280px;
        margin: 0 0 30px 0;
    }
}
.search__field {
    font-weight: normal;
    font-size: 18px;
    line-height: 143%;
    height: 46px;
    color: #999999;
    border: none;
    outline: none;
    -webkit-appearance: none;
    width: 324px;
    padding: 0 60px 0 20px;
}
.search__field:hover {
    color: #222222;
}
@media (max-width: 400px) {
    .search__field {
        width: 280px;
    }
}
input[type=text]::-ms-clear {  display: none; width : 0; height: 0; }
input[type=text]::-ms-reveal {  display: none; width : 0; height: 0; }
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration { display: none; }

.search__icon {
    position: absolute;
    top: 8px;
    right: 8px;
}
.main-body__button{
    margin: 0 0 109px 0;
}
@media (max-width: 400px) {
    .main-body__button {
        margin: 0 0 69px 0;
    }
}
.main__container__slider {
    max-width: 796px;
    grid-auto-rows: max-content;
    display: grid;
    justify-items: flex-start;
}
@media (max-width: 992px) {
    .slider {
        grid-area: 1 / 1 / 2/ 2;
        margin: 0 auto;
    }
}
.slider__block {
    width: 100%;
    overflow: hidden;
    position: relative;
}
.slider__block__line {
    display: flex;
    transition: all ease 1s;

}
.slider__block__buttons {
    background: #F9F6F5;
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: 2;

}
.slider-button__prev {
    background: url(../img/main/prev.svg) 50% 50% no-repeat;
    background-size: contain;
    border: none;
    padding: 49px 16px 49px 24px;
}

@media (max-width: 550px) {
    .slider-button__prev {
        padding: 39px 12px 39px 20px;

    }
}
.slider-button__next {
    background: url(../img/main/next.svg) 50% 50% no-repeat;
    background-size: contain;
    border: none;
    padding: 20px 25px 20px 16px;
}
@media (max-width: 550px) {
    .slider-button__next {
        padding: 20px 12px 20px 20px;

    }
}
/*------------------------------------Partners----------------------------*/
.page__partners {
}

.partners {
    margin: 130px 0;
}
@media (max-width: 992px) {
    .partners {
        margin: 90px 0;
    }
}
@media (max-width: 480px) {
    .partners {
        margin: 60px 0;
    }
}
.partners__container {

}

.partners-body {
    border-top: 1px solid #EEEEEE;
    border-bottom: 1px solid #EEEEEE;
}

.partners-list {
    display: flex;
    justify-content: space-between;
    padding: 42px 34px;
}

@media (max-width: 992px) {
    .partners-list {
        padding: 42px 10px;
    }
}
@media (max-width: 688px) {
    .partners-list {
        display: grid;
        grid-template-columns: repeat(3,1fr);
        grid-template-rows: repeat(2,1fr);
        gap: 5%;
    }
}
@media (max-width: 480px) {
    .partners-list {
        grid-template-columns: repeat(2,1fr);
        grid-template-rows: repeat(3,1fr);
        gap: 5%;
    }
}
.partners-list__item {
    text-align: center;
}
@media (max-width: 688px) {
    .partners-list__item {
        padding: 5px 0;
    }
}
/*------------------------------------Popular----------------------------*/
.popular-body {
    display: flex;
    justify-content: space-between;
}
@media (max-width: 992px) {
    .popular-body {
        flex-direction: column;
        justify-content: space-between;
    }
}
.popular-body__content {

}
@media (max-width: 992px) {
    .popular-body__content__title {
        text-align: center;
    }
}
.popular-body__product {
    display: flex;
    margin: 90px 0 0 0;
}
.popular-body__product__text {
    font-weight: 500;
    font-size: 24px;
    line-height: 125%;
    text-decoration-line: underline;
    color: #222222;
}

.popular-prod {
    margin: 60px 0 0 0;
    display: flex;
}
@media (max-width: 992px) {
    .popular-prod {
        display: block;
    }
}
.popular-prod__card {
    border: 1px solid rgba(217, 186, 162, 0.46);
}
.popular-prod__card:last-child {
    margin: 0 0 0 40px;
}
@media (max-width: 992px) {
    .popular-prod__card:last-child {
        margin: 0 0 0 0;
    }

}
.popular-prod__card__img {
    display: block;
    padding: 0 0 100% 0;
}
.popular-card__description__title {
    font-style: normal;
    font-weight: 500;
    font-size: 40px;
    line-height: 150%;
    color: #222222;
    margin: 0 0 16px 0;
}
.popular-card__description__text {
    font-weight: normal;
    font-size: 20px;
    line-height: 160%;
    color: #555555;
}
.popular-card__payment {
    display: flex;
    justify-content: space-between;
    margin: 60px 32px 44px 32px;
}
@media (max-width: 550px) {
    .popular-card__payment {
        margin: 60px 15px 44px 15px;
    }
}
.popular-payment__button__transparent {
    margin: 0 0 0 24px;
}
@media (max-width: 550px) {
    .popular-payment {
        display: grid;
        gap: 10%;

    }
}
.popular-payment__button{
    min-width: 137px;
    height: 56px;
}
@media (max-width: 550px) {
    .popular-payment__button {
        grid-area: 1 / 1 / 2/ 2;
        min-width: 168px;
        padding: 16px 47px;
    }
}
.popular-payment__button__transparent {
    min-width: 162px;
    height: 56px;
}
@media (max-width: 550px) {
    .popular-payment__button__transparent {
        grid-area: 2 / 1 / 3/ 2;
        min-width: 168px;
        margin: 0;
    }
}
.popular-card__payment__price {
    font-weight: 500;
    font-size: 30px;
    line-height: 107%;
    text-align: right;
    color: #222222;
}
